{% extends 'base.html.twig' %}

{% block title %}MyQuiz / Register{% endblock %}

{% block body %}
<div style="margin: 75px auto; width: 50%;">
    <div class="card">
        <div class="card-header">
            <span class="badge badge-primary">
                <h3>Inscription</h3>
            </span>
        </div>
        <div class="card-body">
            {{ form(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}