<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %}My Quiz{% endblock %}</title>
</head>

<body class="bg-secondary">
    <ul class="nav nav-fill bg-dark">
        <li class="nav-item">
            <a href="{{ path('index') }}" class="nav-link text-white">Accueil</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white">Quiz</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white">Se connecter</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white">S'enregistrer</a>
        </li>
    </ul>
    {% block content %}
    {% endblock %}
</body>

</html>